<a href="https://colab.research.google.com/github/arthireddy14/ETL_and_ETLPipeline/blob/main/Customer_churn_transformed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [ ]:
df.shape

(7043, 21)

In [ ]:
df.size

147903

In [ ]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

✔ Cleaning Tasks
# Convert "TotalCharges" to numeric (dataset has spaces → become NaN).
# Fill missing numeric values using:
# Median for tenure, MonthlyCharges, TotalCharges.
# Replace missing categorical values with "Unknown".

In [ ]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df.isnull().sum()

In [ ]:
df['TotalCharges']=pd.to_numeric(df['TotalCharges'],errors='coerce')
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [ ]:
df['tenure']=df['tenure'].fillna(df['tenure'].median)
df['MonthlyCharges']=df['MonthlyCharges'].fillna(df['MonthlyCharges'].median)
df['TotalCharges']=df['TotalCharges'].fillna(df['TotalCharges'].median)
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
# Identify categorical columns (object dtype)
categorical_cols = df.select_dtypes(include='object').columns

# Fill missing categorical values with the mode
for col in categorical_cols:
    if df[col].isnull().any(): # Check if there are any null values in the column
        mode_value = df[col].mode()[0] # Get the first mode if there are multiple
        df[col] = df[col].fillna(mode_value)

# Display the count of null values after imputation
print("Null values after filling categorical columns:")
df.isnull().sum()

In [ ]:
categorical_cols=df.select_dtypes(include='object').columns
for col in categorical_cols:
  if df[col].isnull().any():
    # mode_value=df[col].mode()[0]
    df[col]=df[col].fillna("Unknown")

df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

 Feature engineering
 Create the following new columns:
# 1. tenure_group
# Based on tenure months:
# 0–12   → "New"
# 13–36  → "Regular"
# 37–60  → "Loyal"
# 60+    → "Champion"

In [ ]:
bins = [0, 12, 36, 60, df['tenure'].max()]
labels = ['New', 'Regular', 'Loyal', 'Champion']
df['tenure_group'] = pd.cut(df['tenure'], bins=bins, labels=labels, right=False)
display(df[['tenure', 'tenure_group']].head())

In [ ]:
def get_tenure_group(t):
  if t<=12:
    return "New"
  elif t<=36:
    return "Regular"
  elif t<=60:
    return "Loyal"
  else:
    return "Champion"
df['tenure_group']=df['tenure'].apply(get_tenure_group)

2. monthly_charge_segment
# MonthlyCharges < 30  → "Low"
# 30–70              → "Medium"
# > 70                 → "High"

In [ ]:
df['monthly_charge_segment'] = pd.cut(
    df['MonthlyCharges'],
    bins=[0, 30, 70, float('inf')],
    labels=['Low', 'Medium', 'High'],
    right=False
)

# 3. has_internet_service
# Convert InternetService column:
# "DSL" / "Fiber optic" → 1
# "No" → 0
# 4. is_multi_line_user
# 1 if MultipleLines == "Yes"
# 0 otherwise
# 5. contract_type_code
# Map:
# Month-to-month → 0
# One year      → 1
# Two year      → 2
# ✔ Drop unnecessary fields
# Remove:
# customerID, gender

In [ ]:
# 3. has_internet_service
df['has_internet_service'] = df['InternetService'].map({
    'DSL': 1,
    'Fiber optic': 1,
    'No': 0
})

# 4. is_multi_line_user
df['is_multi_line_user'] = df['MultipleLines'].apply(
    lambda x: 1 if x == "Yes" else 0
)

# 5. contract_type_code
df['contract_type_code'] = df['Contract'].map({
    'Month-to-month': 0,
    'One year': 1,
    'Two year': 2
})

# Drop unnecessary fields
df.drop(['customerID', 'gender'], axis=1, inplace=True)

In [ ]:
df.columns

Index(['SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService',
       'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges',
       'TotalCharges', 'Churn', 'tenure_group', 'monthly_charge_segment',
       'has_internet_service', 'is_multi_line_user', 'contract_type_code'],
      dtype='object')